<?xml version="1.0" encoding="ISO-8859-1"?>
<root>
	<item id="name">金鑰更新</item>
	<item id="version">1.0.0</item>
	<item id="author">Discuz! X Community Team</item>
	<item id="date">2022-1-30</item>
	<item id="lastmodified">2022-1-30</item>
	<item id="copyright">Discuz! X Community Team</item>
	<item id="tabindex">2</item>
	<item id="tips">當網站淪陷時您應該考慮進行金鑰更新，以避免駭客通過已知的 UC_MYKEY 金鑰破解 UC_KEY 金鑰。</item>
	<item id="lang">
		<item id="plugin_replacemykey_tips">在操作之前建議您選擇低峰期操作或關閉下級應用程式，並做好 UCenter 以及各應用程式的資料、檔案備份工作。</item>
		<item id="plugin_replacemykey_confirm">確認</item>
		<item id="plugin_replacemykey_confirm_tips">我已瞭解上述風險，並已經做好網站備份工作。</item>
	</item>
</root>